<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="three.lines" version="1.0.0.0">

	<name>three lines</name>
	<description>three lines</description>
	<author email="maxalexdanilchenko@gmail.com">maxim danilchenko</author>

	<icon src="icon-128.png" width="128" height="128" />
	<icon src="icon-256.png" width="256" height="256" gap:role="default" />

	<preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="21" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>

	<preference name="deployment-target" value="8.0" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="target-device" value="universal" />

	<gap:plugin name="com.rjfun.cordova.plugin.iad" />

	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>